/* styles.css */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #1f2122, #2a3f50); /* Blue-gray gradient */
    color: #fff; /* White text */
    font-family: 'Roboto', sans-serif; /* Use your preferred font */
}

#drop-area {
    border: 2px dashed #fff; /* White border */
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}W