/* styles.css */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #ecf0f1;
    color: #3498db;
    font-family: 'Roboto', sans-serif; /* Use your preferred font */
}

#drop-area {
    border: 2px dashed #3498db; /* White border */
    background-color: #fff;
    color: #3498db;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(52, 52, 75, 0.37); /* Shadow effect */
}

#drop-area:hover {
    border: 2px dashed #2ecc71; /* White border */
    color:#2ecc71;
}